*,
*::before,
*::after {
  box-sizing: border-box;
}

.container{ 
    display: flex;
    background-color: #F6F6F6;
    height: 90vh;
    align-items: center;
    justify-content: center;
}
.square {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    width: 45vw;
    
    border-radius: 10px;
    background-color: #D9D9D9;
}

.square > h1 {
    text-align: center;
    font-size: 20px;

}

.square > h2{ 
    font-size :15px;
    margin-bottom: 0px;
}

.square > input {
    border: none;
    background-color: #F6F6F6;

}

.password-box{ 
    margin-bottom : 15px;
}

.square > button { 
    border: none;
    background-color: #ffe2e2;
    margin-bottom : 5px;

    padding: 5px 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    border-radius: 15px;
    box-shadow : 0 5px #999;

}

.square >button:hover { 
    background-color : #dbc0c0;
}

.square >button:active { 
    background-color: #dbc0c0;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}